# for pytorch
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cu110
torchaudio==0.7.2
torchvision==0.8.2+cu110

# common package
-f https://download.openmmlab.com/mmcv/dist/cu110/torch1.7.0/index.html
-r requirements-common.txt
